#### OS Files ####
.DS_STORE

#### IntelliJ IDEA ####
.idea
*.iws
*.iml
*.ipr
**/target

#### ANGULAR ####
**/node_modules
**/dist
**/tmp
**/out-tsc
**/e2e/*.js
**/e2e/*.map
**/static

#### SPRING ####
*.war
**/out
**/build
server/out/production

#### BUILD TOOLS ####
.gradle
