<div>
  <mat-card>
    <h4>car-list (data comes from the spring-boot backend)</h4><br/>
    <!-- This is the first version of my table with the use of bootstrap, and fully working--> 
    <table class="table">
      <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Action</th>
        <th>Update?</th>
      </tr>
      <tr *ngFor="let car of cars">
        <td><a routerLink="/detail/{{car.id}}"> {{ car.make }} </a></td> <!--for modification (put) in the future-->
        <td> {{ car.model }} </td>
        <td><button color="primary" mat-button (click)="deleteCar(car)" title="delete car">x</button></td>
        <td><button color="accent" mat-button (click)="updateCar(car)" title="udpate car">update</button></td>
      </tr> 
    </table>
    <button color="warn" mat-stroked-button [routerLink]="'/form'">add</button>
  </mat-card>

  <mat-divider></mat-divider>  
  <br/>
  <app-car-list-local></app-car-list-local>
</div>
