<h3>
  car-list from spring-boot backend
</h3>

<div>
    
  <table  style="width:100%" class="table">
    <tr>
      <th>Make</th>
      <th>Model</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let car of cars">
      <td> {{ car.make }} </td>
      <td> {{ car.model }} </td>
      <td><button type="button" class="btn btn-warning btn-sm" (click)="removeCar(car.model)">remove</button></td>
    </tr>
  </table>
  
  <button type="button" class="btn btn-block btn-info" [routerLink]="'/form'">add</button>
</div>